<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>spficon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sequel Pro Connection</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>connection</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TableDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sql</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sqlicon.icns</string>
			<key>CFBundleTypeName</key>
			<string>SQL File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sql text</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TableDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>english_help</string>
	<key>CFBundleHelpBookName</key>
	<string>Sequel Pro Help</string>
	<key>CFBundleIconFile</key>
	<string>appicon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.code.sequel-pro</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.8</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>FRFeedbackReporter.targetURL</key>
	<string>http://log.sequelpro.com/submit</string>
	<key>FRFeedbackReporter.maxConsoleLogSize</key>
	<integer>10000</integer>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.5.0</string>
		<key>x86_64</key>
		<string>10.6.0</string>
		<key>ppc</key>
		<string>10.5.0</string>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2002-2010 Sequel Pro and CocoaMySQL team.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>FRExceptionReportingApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>M</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Sequel Pro/Perform selection as MySQL query</string>
			</dict>
			<key>NSMessage</key>
			<string>doPerformQueryService</string>
			<key>NSPortName</key>
			<string>Sequel Pro</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSURLPboardType</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>http://www.sequelpro.com/appcast/app-releases.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle-public-key.pem</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
</dict>
</plist>
