<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConnectionTimeoutValue</key>
	<integer>60</integer>
	<key>DefaultEncoding</key>
	<string>Autodetect</string>
	<key>FetchCorrectRowCount</key>
	<true/>
	<key>GrowlEnabled</key>
	<true/>
	<key>LimitResults</key>
	<true/>
	<key>LimitResultsValue</key>
	<integer>1000</integer>
	<key>LoadBlobsAsNeeded</key>
	<true/>
	<key>NullValue</key>
	<string>NULL</string>
	<key>ReloadAfterAddingRow</key>
	<true/>
	<key>ReloadAfterEditingRow</key>
	<true/>
	<key>ReloadAfterRemovingRow</key>
	<false/>
	<key>ShowNoAffectedRowsError</key>
	<true/>
	<key>UseKeepAlive</key>
	<true/>
	<key>KeepAliveInterval</key>
	<integer>0</integer>
	<key>UseMonospacedFonts</key>
	<false/>
</dict>
</plist>
