<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultEncoding</key>
	<string>Autodetect</string>
	<key>DefaultViewMode</key>
	<integer>0</integer>
	<key>LastViewMode</key>
	<integer>1</integer>
	<key>UseMonospacedFonts</key>
	<false/>
	<key>GlobalResultTableFont</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVszNmNdBgAAABoAAAD//kwAdQBjAGkAZABhAEcAcgBhAG4AZABlAAAAhAFmC4QBYwCYAZgAmACG</data>
	<key>CustomQueryMaxHistoryItems</key>
	<integer>20</integer>
	<key>ReloadAfterAddingRow</key>
	<true/>
	<key>ReloadAfterEditingRow</key>
	<true/>
	<key>ReloadAfterRemovingRow</key>
	<false/>
	<key>LoadBlobsAsNeeded</key>
	<false/>
	<key>TableRowCountQueryLevel</key>
	<integer>1</integer>
	<key>TableRowCountCheapLookupSizeBoundary</key>
	<integer>5242880</integer>
	<key>NewFieldsAllowNulls</key>
	<true/>
	<key>LimitResults</key>
	<true/>
	<key>LimitResultsValue</key>
	<integer>1000</integer>
	<key>NullValue</key>
	<string>NULL</string>
	<key>ShowNoAffectedRowsError</key>
	<true/>
	<key>GrowlEnabled</key>
	<true/>
	<key>ConnectionTimeoutValue</key>
	<integer>10</integer>
	<key>UseKeepAlive</key>
	<true/>
	<key>KeepAliveInterval</key>
	<integer>60</integer>
	<key>DisplayTableViewVerticalGridlines</key>
	<false/>
	<key>EditInSheetEnabled</key>
	<false/>
	<key>QueryFavoriteReplacesContent</key>
	<false/>
	<key>QueryHistoryReplacesContent</key>
	<false/>
	<key>CustomQueryEditorFont</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaRiEBVsyNGNdBgAAAA4AAAD//k0AbwBuAGEAYwBvAAAAhAFmCoQBYwCYAZgAmACG</data>
	<key>CustomQueryEditorBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBAYY=</data>
	<key>CustomQueryEditorBacktickColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAACDqagoPwGG</data>
	<key>CustomQueryEditorCommentColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAIPp6Og+AAGG</data>
	<key>CustomQueryEditorNumericColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg4GAAD+Dh4aGPgABhg==</data>
	<key>CustomQueryEditorQuoteColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg8bFRT+DnXPOPYNba609AYY=</data>
	<key>CustomQueryEditorSQLKeywordColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg83MTD6DnXPOPQEBhg==</data>
	<key>CustomQueryEditorTextColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
	<key>CustomQueryEditorCaretColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
	<key>CustomQueryEditorVariableColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg3zv/T6DfO/9PoN87/0+AYY=</data>
	<key>CustomQueryEditorHighlightQueryColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARmZmZmgzMzcz+DMzNzP4MzM3M/AYY=</data>
	<key>CustomQueryHighlightCurrentQuery</key>
	<true/>
	<key>CustomQueryAutoIndent</key>
	<true/>
	<key>CustomQueryAutoPairCharacters</key>
	<true/>
	<key>CustomQueryAutoUppercaseKeywords</key>
	<false/>
	<key>CustomQueryUpdateAutoHelp</key>
	<false/>
	<key>CustomQueryEditorTabStopWidth</key>
	<integer>4</integer>
	<key>CustomQueryFunctionCompletionInsertsArguments</key>
	<true/>
	<key>CustomQueryAutoComplete</key>
	<true/>
	<key>CustomQueryAutoCompleteDelay</key>
	<real>1.5</real>
	<key>CustomQueryAutoHelpDelay</key>
	<real>1</real>
	<key>lastSqlFileEncoding</key>
	<integer>4</integer>
	<key>SelectLastFavoriteUsed</key>
	<true/>
	<key>LastFavoriteIndex</key>
	<integer>0</integer>
	<key>TableInformationPanelCollapsed</key>
	<false/>
	<key>ConsoleEnableLogging</key>
	<true/>
	<key>ConsoleEnableInterfaceLogging</key>
	<true/>
	<key>ConsoleEnableCustomQueryLogging</key>
	<true/>
	<key>ConsoleEnableImportExportLogging</key>
	<false/>
	<key>ConsoleEnableErrorLogging</key>
	<true/>
	<key>ConsoleShowTimestamps</key>
	<true/>
	<key>ConsoleShowConnections</key>
	<true/>
	<key>ConsoleShowSelectsAndShows</key>
	<true/>
	<key>ConsoleShowHelps</key>
	<true/>
	<key>PrintBackground</key>
	<true/>
	<key>PrintImagePreviews</key>
	<true/>
	<key>QuickLookTypes</key>
	<array/>
	<key>ContentFilters</key>
	<dict>
		<key>number</key>
		<array/>
		<key>string</key>
		<array/>
		<key>date</key>
		<array/>
	</dict>
	<key>CSVImportFieldTerminator</key>
	<string>,</string>
	<key>CSVImportLineTerminator</key>
	<string>\n</string>
	<key>CSVImportFieldEnclosedBy</key>
	<string>&quot;</string>
	<key>CSVImportFieldEscapeCharacter</key>
	<string>\</string>
	<key>CSVImportFirstLineIsHeader</key>
	<true/>
	<key>BlobTextEditorSpellCheckingEnabled</key>
	<false/>
	<key>CSVFieldImportMappingAlignment</key>
	<integer>2</integer>
	<key>DisplayServerVersionInWindowTitle</key>
	<true/>
	<key>PrintWarningRowLimit</key>
	<integer>1000</integer>
</dict>
</plist>
