<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>neokio</string>
	<key>category</key>
	<string>Format</string>
	<key>command</key>
	<string>#!/usr/bin/php
&lt;?php
$sql = @file_get_contents(&quot;php://stdin&quot;);
$request = [&apos;reindent&apos;=&gt;1,&apos;sql&apos;=&gt;$sql];
$ch = curl_init();
curl_setopt($ch, CURLOPT_URL, &apos;https://sqlformat.org/api/v1/format&apos;);
curl_setopt($ch, CURLOPT_POST, count($request));
curl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query($request));
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
$result = curl_exec($ch);
curl_close($ch);
echo json_decode($result,true)[&apos;result&apos;];</string>
	<key>contact</key>
	<string></string>
	<key>description</key>
	<string>Send the current query or selection to https://sqlformat.org and replace the current query or selection of the first responder by the server&apos;s formatted output. If a parser error occurred alert that error and tries to jump to the error location.

Version 1.0</string>
	<key>input</key>
	<string>selectedtext</string>
	<key>input_fallback</key>
	<string>currentquery</string>
	<key>internalKeyEquivalent</key>
	<dict>
		<key>characters</key>
		<string>T</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>keyEquivalent</key>
	<string>^~@t</string>
	<key>name</key>
	<string>Format SQL</string>
	<key>output</key>
	<string>showashtml</string>
	<key>scope</key>
	<string>inputfield</string>
	<key>tooltip</key>
	<string>Send query or selection to https://sqlformat.org to insert the SQL statement formatted</string>
	<key>uuid</key>
	<string>36E1F94D-D6C4-460A-A663-C694AF85E099</string>
	<key>isDefaultBundle</key>
	<true/>
</dict>
</plist>
