#include "CorePlotWarnings.xcconfig"

ARCHS = $(ARCHS_STANDARD)
VALID_ARCHS[sdk=iphoneos*] = arm64 arm64e armv7 armv7s
VALID_ARCHS[sdk=iphonesimulator*] = i386 x86_64
VALID_ARCHS[sdk=macosx*] = i386 x86_64
VALID_ARCHS[sdk=appletvos*] = arm64
VALID_ARCHS[sdk=appletvsimulator*] = i386 x86_64

IPHONEOS_DEPLOYMENT_TARGET = 8.0
MACOSX_DEPLOYMENT_TARGET = 10.8
TVOS_DEPLOYMENT_TARGET = 9.0

SYMROOT = $(PROJECT_DIR)/../build

ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_OBJC_ARC = YES
CLANG_STATIC_ANALYZER_MODE = shallow
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
COMBINE_HIDPI_IMAGES = YES
COPY_PHASE_STRIP = YES
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_C_LANGUAGE_STANDARD = c99
GCC_DYNAMIC_NO_PIC = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = CorePlot_Prefix.pch
LINKER_DISPLAYS_MANGLED_NAMES = NO
OTHER_LDFLAGS = -ObjC
RUN_CLANG_STATIC_ANALYZER = YES
SEPARATE_STRIP = YES
SKIP_INSTALL = YES
STRIP_STYLE = debugging
STRIP_SWIFT_SYMBOLS = YES
SWIFT_OPTIMIZATION_LEVEL = "-Owholemodule"
USE_HEADERMAP = NO
